
html {
  position: relative;
  min-height: 100%;
}

body {
    color: #000000;
    font-weight: 300;
    padding-top: 70px;
    margin-bottom: 150px;
    width: 100%;
      /* Margin bottom by footer height */
}

h1 
{
    color: #00bfa5;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #00bfa5;
    background-color: transparent;
}

.intro {
/* background-color:#EEF6F4;*/
 padding: 30px;
  
}

.workgrey
{
    padding:30px;
    background: -moz-linear-gradient(-45deg,#fafafa 0,#f2f2f2 60%,#eaeaea 100%);
    background: -o-linear-gradient(-45deg,#fafafa 0,#f2f2f2 60%,#eaeaea 100%);
    background: -ms-linear-gradient(-45deg,#fafafa 0,#f2f2f2 60%,#eaeaea 100%);
    background: linear-gradient(135deg,#fafafa 0,#f2f2f2 60%,#eaeaea 100%);
    width: 100%;
}

.workwhite
{
    padding:30px;
    background: #fbfcfc;
    width: 100%;
}

a:link    {color:#7F8483; background-color:transparent; text-decoration:none;}
a:visited {color:#7F8483; background-color:transparent; text-decoration:none}
a:hover   {color:#00bfa5; background-color:transparent;text-decoration: none}

h1 {
    font-size: 3em;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

p.normal {
    font-weight: normal;
}

p.light {
    font-size: 14px;
    font-weight: 400;
}

p.thick {
    font-weight: bold;
}

p.thicker {
    font-weight: 900;
}

.center{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
} 

.aboutme {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-size: 18px;
  padding: 10px 25px 10px 25px;
  border: solid #00bfa5 1px;
  text-decoration: none;
  text-align: center;
}

.aboutme:link {
    background-color: #fff;
}

.aboutme:hover {
    border: solid #00bfa5 2px;
    color: #00bfa5;
    background-color: #fff;
}

.textwrap{
    float: right;
    margin: 10px;
}

.textwrapleft{
    float: left;
    margin: 0px 10px;
}

.viewwork {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-size: 18px;
  padding: 15px 30px 15px 30px;
  border: solid #00bfa5 1px;
  text-decoration: none;
  background-color: #fff;
  text-align: center;
}

.viewwork:link {
    background-color: #fff;
}

.viewwork:hover {
    border: solid #00bfa5 2px;
    color: #00bfa5;
    background-color: #fff;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here    color: #06b9a1;*/
  height: 120px;
  background-color: #333;
  font-color:#fff;
}

p.copyright
{
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

ul.client{
    font-size:1.5em;
}

ul.responsibility li{
 padding: 5px;
}

.space{
    padding: 10px;
    max-width: 100%;
}
ul.work {
    padding:0;
    list-style:none;
    width: 1100px;
}

ul.work li {
    float:left;
    margin:20px 25px;
}


.avatar {
    -webkit-box-shadow: 0px 0px 0px 3px #fff;
    -moz-box-shadow: 0px 0px 0px 3px #fff;
    box-shadow: 0px 0px 0px 3px #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius:100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 50px// half the avatar size
    width: 150px;
    height: 150px;
    margin-top: 25px;
}


ul.contact { 
    padding-left: 0px;
}

ul.contact li {
    list-style: none;
    margin: 15px 0px 0px 15px; 
}

form
{
    background:#EEF6F4; 
    padding: 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    max-width: 100%;
}

input {
    max-width: 100%;
	color:#3c3c3c;
	font-size: 14px;
	line-height: 22px;
	background-color:#fff;
	padding: 13px 13px 13px 20px;
    margin: 10px auto 20px 0px;
	width:400px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    border: 1px solid #B3B2B0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

input:focus{
	background: #fff;
	box-shadow: 0;
	border: 2px solid #00bfa5;
	color: #00bfa5;
	outline: none;
    padding: 13px 13px 13px 20px;
    
}

.focused{
	color:#00bfa5;
	border:#00bfa5 solid 1px;
}

textarea {
    max-width: 100%;
    color:#3c3c3c;
    font-size: 14px;
    width: 500px;
    height: 150px;
    line-height: 150%;
    resize:vertical;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    border: 1px solid #B3B2B0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 10px auto auto 0px;
    padding: 13px 13px 13px 20px;
}

textarea:focus
{
    background: #fff;
	box-shadow: 0;
	border: 2px solid #00bfa5;
	color: #00bfa5;
	outline: none;
    padding: 13px 13px 13px 20px;

}

    input:hover, textarea:hover,
    input:focus, textarea:focus {
    background-color:white;
}

.submitbtn
{
    color: #FFF;
    font-size: 20px; 
    text-align: center;
    background-color: #00bfa5;
    border: 2px solid #00bfa5; 
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 13px 13px 13px 13px;
    margin-top: 15px;
   
}

.submitbtn:hover
{
    background-color: #fff;
    border: 2px solid #00bfa5; 
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #00bfa5;
    font-size: 20px;
    text-align: center;
}

.label
{  
    font-size: 18px;
    color: #333;  
    padding: 0px;
    font-weight:200;
}


ul.social-buttons {
  text-align: center;
  margin-top: 0px;
}

ul.social-buttons li {
  display: inline-block;
  margin: 15px 20px 0px 0px;;
}

ul.social-buttons li a {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50px;
  text-decoration: none;
  font-size: 25px;
  line-height: 50px;
  color: white;
}

ul.social-buttons li a.icon-twitter {
  background-color: #4099FF;
}

ul.social-buttons li a.icon-linkedin {
  background-color: #0e76a8;
}

ul.social-buttons li a.icon-github {
  background-color: #000333;
}

ul.social-buttons li a.icon-envelope {
  background-color: #7F8483;
}

/*icon 2*/
ul#icon li a {
  transition: transform 0.5s ease-in-out;
}

ul#icon li:hover a {
  transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}

/*work section*/
.view {
    width: 350px;
    height: 350px;
    margin: 10px 20px 10px 0px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #f2f2f2 url(../images/bgimg.jpg) no-repeat center center;
    padding: 10px 10px 10px 10px;
}

.view .mask, .view .content {
    width: 350px;
    height: 350px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view img {
    display: block;
    position: relative;
    max-width:100%;
}

.view h2 {
/*    text-transform: uppercase;*/
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 30px 0 0 0;
}
.view p {
    text-align:left;
    font-size: 14px;
    position: relative;
    width: 90%;
    color: #fff;
    margin: 20px;
    padding: 10px 20px 20px 10px;    
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    border: solid #000 2px;
    padding: 7px 14px;
    background-color: #fff;
    text-transform: uppercase;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
        
}

.view a.info:hover {
    border: solid #00bfa5 2px;
    color: #00bfa5;
    background-color: #fff;
}

.view-work img {
	transition: all 0.3s ease-in-out; 
}
.view-work .mask { 
	background-color:#333;
	transform: translateX(-350px);
	opacity: 1;
	transition: all 0.4s ease-in-out; 
}
.view-work h2{
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
}
.view-work p{
    opacity: 0;
    color: #fff;
    transition: all 0.2s linear;
}

.view-work:hover .mask { 
	transform: translateX(0px);
}						
.view-work:hover img { 
	transform: translateX(350px);
	transition-delay: 0.1s;
}
.view-work:hover p{
    opacity: 1;
    transition-delay: 0.4s;
}





