
html {
  position: relative;
  min-height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	color: #06b9a1;
	font-weight: 300;
	padding-top: 70px;
	margin-bottom: 80px;
	  /* Margin bottom by footer height */
}

.navcolor
{
	background-color: 00bfa5;
}

a:link    {color:#000000; background-color:transparent; text-decoration:none}
a:visited {color:#000000; background-color:transparent; text-decoration:none}
a:hover   {color:#00bfa5; background-color:transparent;}
a:active  {color:#00bfa5; background-color:transparent;}


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.title-super{
	font-size:60px;
	color:  #06b9a1;
}

.title-logo{
	margin-top: 20px;
}

.footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  /* Set the fixed height of the footer here 	color: #06b9a1;*/
  height: 50px;
  background-color: #000000;
}


p {
	font-size: 14px;
}

.role {
	color: #fffff;
	font-size: 20px;
}

