<!DOCTYPE html>
	<html>
		<head>				
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<meta name="viewport" content="width=device-width, initial-scale=1">			
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<!-- <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'> -->	

			<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
            <script type="text/javascript" src="js/bootstrap.min.js"></script>
            <script type="text/javascript" src="js/main.js"></script>

 
			<link rel="stylesheet" href="css/bootstrap.css">
			<link rel="stylesheet" type="text/css" href="css/main.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
			
			</head>

		<body>
			
			{{ content }}
			
			<!-- /.container -->

		</body>

            <footer class="footer">
             <div class="center">
              <div class="container">
                  <div class="col-md-12">   
    <!--          reference: http://creative-punch.net/2014/02/making-animated-css3-social-buttons/-->
         
               <ul class="social-buttons" id="icon">
                  <li>
                    <a href="mailto:yjgracechen@gmail.com" class="icon-envelope">
                        <i class="fa fa-envelope fa-lg"></i>                     
                    </a> 
                  </li> 
                  <li>
                    <a href="https://www.linkedin.com/profile/view?id=151542826&trk=nav_responsive_tab_profile_pic" class="icon-linkedin">
                       <i class="fa fa-linkedin fa-lg"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/yjgracechen" class="icon-twitter">
                       <i class="fa fa-twitter fa-lg"></i>
                    </a>
                  </li> 
                  <li>
                     <a href="https://github.com/yongjiechen" class="icon-github">
                        <i class="fa fa-github-alt fa-lg"></i>
                     </a>
                  </li>                
              </ul>

                </div>   
               </div> 

                <div class="col-md-12">
                    <ul class="social-buttons">
                    <li>
                    <p class="copyright"> Copyright © Yongjie Chen 2015 </p>        	
                    </li>
                </div>
             </div>
            </footer> 

	</html>





 